input[type=text] {
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    width: 500px;
    padding: 5px 5px;
    font-size: 1.5em;
}

#all div {
    margin: 7px 0;
    padding: 1px 7px;
    border-left: 2px solid #ccc;

}

#all div h2 {
    margin: 2px 5px 10px;
}

#all div div {
    margin: 5px 2px;
    padding: 5px;
    background-color: #f6f6f6;
    border-left: 2px solid #fff;
}

#all div div span {
    display: none;
}

#all div div:hover {
    background-color: #eee;
    border-left-color: #3055d6;
}

#all div div:hover span {
    display: inline;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}
